@use "../../colors";

.login-form {
    width: 400px; 
    padding: 2rem;
    // margin-inline: auto;
}

.login-page-title {
    text-align: center;
    font-size: 2.5rem;
    color: colors.$main-accent;
    font-weight: bold;
    margin: 3rem 0 1rem 0;
    font-family: cursive;
}

.login-form-title {
  color: colors.$dark-color;
  font-size: 1.3rem;
  padding-top: 2rem;
}

.login-form-container {
    // width: 500px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.login-error-text-container {
  color: colors.$error-text-color;
  height: 18px;
  text-align: center;
  margin-top: 2rem;
}
