
$bright-white: rgb(239, 239, 239);
$main-bg-color: rgb(218, 218, 218);
$main-dark-bg-color: rgb(153, 153, 153);
$light-color: rgb(225, 225, 225);
$dark-color: rgb(26, 26, 26);
$main-accent: rgb(103, 73, 73);
$main-accent-hover: rgb(116, 82, 82);
$disabled-button: rgba(103, 73, 73, 0.518);
$error-text-color: rgb(208, 0, 0);



$event-color-one: #1f86ef;
$event-color-two: #3fb73f;
$event-color-three: #e7713c;
$event-color-four: #e20202;
$event-color-five: #cc00ff;
$event-color-six: #d2de33;
